/* some global values/defaults */
html {
  overflow-y: scroll;
}

body {
  background-color: #EDFCFF;
  color: #513B56;
  font-family: "Optima", "Segoe", "Segoe UI", "Candara", "Calibri", "Arial", "sans-serif";
}

/* top bar */
.topbar {
  background-color: #85a0ad;  /* #97AFBA; */
  overflow: hidden;
  margin-left: calc(200px + 0% - 10px);
  margin-top: 20px;
  margin-right: 0%; 
  min-width: 230px
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  margin-left: 0%; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #85a0ad;  /* #97AFBA; #85a0ad */
  padding-top: 45px;
}

/* div for all the links in the top navigation bar */
/*
.topbarlinks {
  float: right;
}
*/

/* div for title and tag line in top bar */
.topbartitleandtag {
  float: right;
  color: #EDFCFF;
  padding: 14px;
  vertical-align: middle
}

/* div for title in top bar */
.topbartitle {
  font-size: 30px;
  padding: 6px;
}

/* div for tag line in top bar */
.topbartagline {
  font-size: 20px;
  padding: 6px;
}

.logo img {
  float: left;
  padding: 14px 16px 35px 16px;
  text-align: center;
  width: 160px
}

.sidenav a {
  padding: 6px 16px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #525174;
  font-weight: 500;
  display: block;
}

.sidenav a.active {
  color: #EDFCFF;
  font-weight: 500;
}

.sidenav a:hover {
  color: #EDFCFF;
  font-weight: 700;
}

.main {
  margin-left: calc(0% + 200px);
  margin-right: 0%; 
  padding: 20px 20px;
  min-width: 300px;
}

/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/

.main p {
  text-align: justify
}

.main a {
  color: #348AA7
}

.main a:visited {
  color: #525174
}