/* some global values/defaults */
html {
  overflow-y: scroll;
}

body {
  background-color: #FFF7EA;
  color: #000000;
  font-family: "Georgia","serif";
}

/* top bar */
.topbar {
  background-color: #332211;
  overflow: hidden;
  margin-left: 140px;
  margin-top: 40px;
  margin-right: 40px;
  min-width: 230px
}

/* div for all the links in the top navigation bar */
/*
.topbarlinks {
  float: right;
}
*/

/* div for title and tag line in top bar */
.topbartitleandtag {
  float: right;
  color: #FFF7EA;
  padding: 14px;
  vertical-align: middle
}

/* div for title in top bar */
.topbartitle {
  font-size: 30px;
  padding: 6px;
}

/* div for tag line in top bar */
.topbartagline {
  font-size: 20px;
  padding: 6px;
}

.logo img {
  float: left;
  padding: 14px 14px 25px 14px;
  text-align: center;
  width: 120px
}

.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #332211;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  font-size: 15px;
  color: #998877;
  display: block;
}

.sidenav a.active {
  color: #FFF7EA;
}

.sidenav a:hover {
  color: #FFF7EA;
}

.main {
  margin-left: 145px;
  margin-right: 15%; 
  padding: 20px 20px;
  min-width: 300px;
}

/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/

.main p {
  text-align: justify
}

.main a {
  color: #998877
}

.main a:visited {
  color: #332211
}